<header class="header">
  <nav>
    <ul>
      <li class="header-box-tap-link"><%= link_to "formations", :controller => "formations", :action => "index" %></li>
      <li class="header-box-tap-link"><%= link_to "team", :controller => "team", :action => "index" %></li>
    </ul>
  </nav>
</header>
